# Python
__pycache__/
*.pyc
*.pyo
.env/
*.db
*.sqlite

# Node
node_modules/
frontend/dist/

# Build artifacts
*.egg-info/
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
github.env
